/* logo, titolo, autore */
header {
    background-color: lightskyblue;
    width: 85%;
    height: 150px;
    background-image: url('../img/pattern.png');
    background-position: 50px 60px;
    
}

#logo {
    height: 250px;
    width: 250px;
    
}

.autore, .data {
    color: grey;
    font-size: 15px;
}

.blue {
    color: blue;
}

body {
    width: 1200px;
}

.descrizione {
    font-size: 10px;
}

.giallo {
    background-color: yellow;
}

table {
    width: 100%;  
}

thead {
    background-color: lightsteelblue;
    text-align: left;
}

.colorata {
    background-color: lightskyblue;
}

#footer > p {
    color: grey; 
    font-size: 15px;
    font-weight: bold;
}

.monitor {
    background-image: url('../img/monitor.jpg');
}

.grafico {
    background-image: url('../img/graph.jpg');
}

.monitor, .grafico {
    height: 200px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-size: cover;
    
}
